<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
.style1 {
	font-size: 24px;
	font-weight: bold;
}
-->
</style>
</head>

<body>
{% include "p1.html" %}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->
  <tr>
    <td width="55" height="13"></td>
    <td width="1222"></td>
    <td width="43"></td>
  </tr>
  <tr>
    <td height="328"></td>
    <td valign="top"><p class="style1">About The Project</p>
    <p><strong>Animal husbandry </strong>&nbsp;is the branch of&nbsp; <strong>science </strong>&nbsp;deals with the practice of breeding, farming and care of farm&nbsp; <strong>animals </strong>&nbsp;such as cattle, dogs, sheep and horses by humans for advantages.&nbsp; <strong>Animal husbandry </strong>&nbsp;refers to&nbsp; <strong>livestock </strong>&nbsp;raising and selective breeding. It is a branch of agriculture. </p>
    <p><strong>Animal welfare </strong>&nbsp;refers to the state of the&nbsp; <strong>animal </strong>; the treatment that an&nbsp; <strong>animal </strong>&nbsp;receives is covered by other terms such as&nbsp; <strong>animal care </strong>,&nbsp; <strong>animal </strong>&nbsp;husbandry, and humane treatment. Protecting an&nbsp; <strong>animal's welfare </strong>&nbsp;means providing for its physical and mental needs. </p>
    <p><strong>The Five Welfare Needs: </strong></p>
    <p>&#149;&nbsp; The need for a suitable environment. ... </p>
    <p>&#149;&nbsp; The need for suitable&nbsp; <strong>diet </strong>. ... </p>
    <p>&#149;&nbsp; The need to exhibit normal behavioral patterns. ... </p>
    <p>&#149;&nbsp; The need to be housed with or apart from other animals. ... </p>
    <p>&#149;&nbsp; The need to be protected from pain, suffering and disease. </p>
    <p>This software <strong>Animal Care </strong> is mainly provides better care for animals. Animals husbandry and welfare should controlled by the veterinary hospitals. This software is applicable to the veterinary hospital all over kerala. Cattles / animals owners are the beneficiaries of this software. It is very difficult to send animals to veterinary hospitals to treatment and testing. After the implementation of this software , each veterinary hospital staffs / doctors responsibility to visit animals and check the environment, diet, health etc. Govt. provides many free of cost animal food. </p>
    <p>Using this software owners of animals should register the animals. Along with the registration attach the certificate/ photo of the animal for proof. The authority check it and accept the registration. The staff of the veterinary hospital make periodic visit and check the health of animal and supply suitable medicines. The users of this software are, </p>
    <p>&#149;&nbsp; Admin </p>
    <p>&#149;&nbsp; Staff of each hospital </p>
    <p>&#149;&nbsp; Owner of animal </p>
    <p>&#149;&nbsp; Guest User </p>
    <p>To develop this application <strong>Python </strong> is selected as front-end application, <strong>MySql </strong> as the back-end application and <strong>Django </strong> as the framework. </p>
    <p>&nbsp; </p></td>
    <td></td>
  </tr>
  <tr>
    <td height="29"></td>
    <td>&nbsp;</td>
    <td></td>
  </tr>
</table>
</body>
</html>
