<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<script>
function abc()
{
if(document.form2.t1.value=="" || document.form2.t2.value=="" || document.form2.t3.value=="" || document.form2.t4.value=="")
{
alert("Please enter All");
return(false);

}

}

</script>
<body>
{% include "p2.html" %}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->
  <tr>
    <td width="100" height="18"></td>
    <td width="134"></td>
    <td width="183"></td>
    <td width="40"></td>
    <td width="539"></td>
    <td width="53"></td>
    <td width="187"></td>
    <td width="74"></td>
  </tr>
  <tr>
    <td height="112"></td>
    <td></td>
    <td colspan="4" valign="top"><p><strong>Animal Breed and Details Registration</strong></p>      <form name="form1"  method="post" action="animalbreedreg2">{% csrf_token %}
        {% if l %}  
        <table width="381" border="0">
          <tr>
            <td width="151">Animal Name </td>
            <td width="126"><select name="c1" id="c1">
			<option>{{s1}}</option>
			{% for a in l %}
			for a in l 
			<option>{{a}}</option>
			
			{% endfor %}
            </select></td>
            <td width="82"><input type="submit" name="Submit" value="Submit"></td>
          </tr>
        </table>{% else %} <b>No Animals</b> {% endif %}
    </form></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td height="374">&nbsp;</td>
    <td colspan="2" rowspan="2" valign="top"><p><strong>Animal Type Details </strong></p>
      <table width="278" border="0">
        <tr>
          <td width="91">Animal Name </td>
          <td width="93">{{s1}}</td>
        </tr>
        <tr>
          <td>Animal Type </td>
          <td>{{antype}}</td>
        </tr>
        <tr>
          <td>Production</td>
          <td>{{production}}</td>
        </tr>
        <tr>
          <td colspan="2">Specification</td>
        </tr>
        <tr>
          <td colspan="2"><textarea name="textarea">{{specification}}</textarea></td>
        </tr>
      </table>      <p>&nbsp;</p>
    <p>&nbsp; </p></td>
    <td>&nbsp;</td>
    <td rowspan="2" valign="top"><p><strong>Animal Breed</strong></p>
      <form name="form2" onSubmit="return abc()" method="post" action="animalbreedreg3">{% csrf_token %}
        <table width="431" border="0">
          <tr>
            <td>Breed</td>
            <td><input name="t1" type="text" id="t1"></td>
          </tr>
          <tr>
            <td height="23" colspan="2">Food Specification </td>
          </tr>
          <tr>
            <td height="23" colspan="2"><textarea name="t2" cols="60" id="t2"></textarea></td>
          </tr>
          <tr>
            <td height="23" colspan="2">Anumal Nature </td>
          </tr>
          <tr>
            <td height="23" colspan="2"><textarea name="t3" cols="60" id="t3"></textarea></td>
          </tr>
          <tr>
            <td height="23" colspan="2">Anumal Husbandary </td>
          </tr>
          <tr>
            <td height="23" colspan="2"><textarea name="t4" cols="60" id="t4"></textarea></td>
          </tr>
          <tr>
            <td height="23" colspan="2"><input type="submit" name="Submit2" value="Submit"></td>
          </tr>
        </table>
		<input type="hidden" name="c1" value="{{s1}}">
      </form>      <p>&nbsp; </p></td>
    <td>&nbsp;</td>
    <td valign="top"><strong>Existing Breed</strong><br>	{% if m %}
	{% for a in m %}
	{{a}} <br>
	{% endfor %}
	{% else %}
	<b><font color="#FF0000">No Breed Registered.....</font></b>
	{% endif %}    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="93">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
