<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
{% include "p4.html" %}
<table width="1304" border="0" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->
  <tr>
    <td width="9" height="19">&nbsp;</td>
    <td width="327">&nbsp;</td>
    <td width="9">&nbsp;</td>
    <td width="223">&nbsp;</td>
    <td width="25">&nbsp;</td>
    <td width="637">&nbsp;</td>
    <td width="74">&nbsp;</td>
  </tr>
  <tr>
    <td height="348">&nbsp;</td>
    <td rowspan="2" valign="top"><p><strong>Register Vaccine </strong></p>      <table width="307" border="0">
        <tr>
          <td width="172">Owner ID </td>
          <td width="125">{{s1}}</td>
        </tr>
        <tr>
          <td>Owner Name </td>
          <td>{{ownername}}</td>
        </tr>
        <tr>
          <td>House Name </td>
          <td>{{hname}}</td>
        </tr>
        <tr>
          <td>Place</td>
          <td>{{place}}</td>
        </tr>
        <tr>
          <td>Pin</td>
          <td>{{pin}}</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>{{phone}}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{gender}}</td>
        </tr>
        <tr>
          <td>District</td>
          <td>{{district}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{email}}</td>
        </tr>
    </table>      <p>&nbsp;</p></td>
    <td>&nbsp;</td>
    <td rowspan="2" valign="top"><p><strong>Animal Details</strong></p>
      <table width="223" border="0">
        <tr>
          <td width="92">Animal Name </td>
          <td width="114">{{anname}}</td>
        </tr>
        <tr>
          <td>Breed</td>
          <td>{{breed}}</td>
        </tr>
        <tr>
          <td>Age</td>
          <td>{{age}}</td>
        </tr>
        <tr>
          <td>Age Unit </td>
          <td>{{ageunit}}</td>
        </tr>
        <tr>
          <td>Origin</td>
          <td>{{origin}}</td>
        </tr>
        <tr>
          <td>Reg Date </td>
          <td>{{regdate}}</td>
        </tr>
      </table>      <p>&nbsp; </p></td>
    <td>&nbsp;</td>
    <td valign="top"><p>Vaccine Details</p>
    <p>{% if records22 %}</p>
    <table border="0" width="100%" bgcolor="#66FFFF">
      <tr>
        <th>Apply No.</th>
        <th>Vaccine Name</th>
        <th>Apply Date</th>
        <th>StaffID</th>
        {% for applyno,vacname,applydate,staffid in records22 %}
        <tr align="center">
            
            <td>{{applyno}}</td>
            <td>{{vacname}}</td>
            <td>{{applydate}}</td>
            <td>{{staffid}}</td>
        </tr>
  {% endfor %}
    </table>
    {% else %} <b><font color="#FF0000">No Vaccine Applied....</font></b> {% endif %} &nbsp; </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="41">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="11"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</body>
</html>
