<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body>
{% include "p4.html" %}
<table width="1288" border="0" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->
  <tr>
    <td width="122" height="18"></td>
    <td width="961"></td>
    <td width="205"></td>
  </tr>
  <tr>
    <td height="267"></td>
    <td valign="top"><p><strong>My Own Animal/ Birds</strong></p> 
    {% if records %}
    <table border="1" width="100%" bgcolor="#FFFF33">
	<tr>
	<th>Animal No</th> <th>Anname</th><th>Breed</th><th>Age</th><th>Age Unit</th><th>Origin</th><th>Regdate</th>
	{% for anno,anname,breed,age,ageunit,origin,regdate  in records %}
	<tr align="center"><td>{{anno}}</td>
	<td>{{anname}}</td>
	<td>{{breed}}</td>
	<td>{{age}}</td>
	<td>{{ageunit}}</td>
	<td>{{origin}}</td>
	<td>{{regdate}}</td>

	</tr>
	
	
	{% endfor %}
	
	
	
	</table>{% else %} <b><font color="#FF0000">No Animals Found</font></b> {% endif %} &nbsp; </p></td>
    <td></td>
  </tr>
  <tr>
    <td height="35"></td>
    <td>&nbsp;</td>
    <td></td>
  </tr>
</table>
</body>
</html>
