<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<script>
function abc()
{
if(document.form1.t1.value=="" || document.form1.t2.value=="" || document.form1.t3.value=="" || document.form1.t4.value=="" || document.form1.t5.value=="" || document.form1.t8.value=="")
{
alert("Please Enter All");
return(false);
}

if(document.form1.t4.value.length<6)
{
alert("Pin should be exact 6 digits");
return(false);
}
	
if(document.form1.t5.value.length<10)
{
alert("Phone should be min 10 digits");
return(false);
}

if(document.form1.file.value=="")
{
alert("Please select Adhar to Upload ");
return(false);
}

}



</script>
<body>
{% include "p3.html" %}
<table width="1092" border="0" cellpadding="0" cellspacing="0">
  <!--DWLayoutDefaultTable-->
  <tr>
    <td width="218" height="315">&nbsp;</td>
    <td width="874" valign="top"><p><strong>Animal Owner Registration</strong></p>
      <form action="ownerreg2" method="post" onSubmit="return abc()" enctype="multipart/form-data" name="form1">
	  {% csrf_token %}
        <table width="697" border="0">
          <tr>
            <td width="139">Owner Name </td>
            <td width="191"><input name="t1" type="text" id="t1" onKeyPress="return alphabets(event)"></td>
            <td width="156">House Name </td>
            <td width="183"><input name="t2" type="text" id="t2"></td>
          </tr>
          <tr>
            <td>Place</td>
            <td><input name="t3" type="text" id="t3"  onKeyPress="return alphabets(event)"></td>
            <td>Pin</td>
            <td><input name="t4" type="text" id="t4"  onKeyPress="return numbers(event)"></td>
          </tr>
          <tr>
            <td>Phone</td>
            <td><input name="t5" type="text" id="t5"  onKeyPress="return numbers(event)"></td>
            <td>Gender</td>
            <td><input name="t6" type="radio" value="M" checked>
              Male 
              <input name="t6" type="radio" value="F">
              Female</td>
          </tr>
          <tr>
            <td>District</td>
            <td><select name="t7" id="t7">
              <option>Thiruvananthapuram</option>
              <option>Kollam</option>
              <option>Pathanamthitta</option>
              <option>Alapuzha</option>
              <option>Kottayam</option>
              <option>Idukki</option>
              <option>Eranakulam</option>
              <option>Thrissur</option>
              <option>Palaghat</option>
              <option>Kozhikkod</option>
              <option>Kannir</option>
              <option>Kasarcode</option>
            </select></td>
            <td>Email</td>
            <td><input name="t8" type="text" id="t8" onKeyPress="return email(event)"></td>
          </tr>
          <tr>
            <td>Upload Adhar </td>
            <td><input type="file" name="file"></td>
            <td colspan="2"><input type="submit" name="Submit" value="Submit">
            <input type="reset" name="Submit2" value="Reset"></td>
          </tr>
        </table>
      </form>      <p>&nbsp; </p></td>
  </tr>
  <tr>
    <td height="26">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
